<!-- Features Start -->
<section class="section bg-light feather-bg-img" style="background-image: url(assets/images/features-bg-img.png);"
  id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">Características de la empresa</h3>
          <p class="text-muted font-size-15">Aquí verás las diferentes características que hacen que RenTech sea único.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="mb-4 mb-lg-0">
          <img src="assets/images/features-img.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> Puntos fuertes</p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">En nuestra empresa se destaca la <b>profesionalidad</b> & <b> confianza</b>
          </h3>
        <p class="text-muted font-size-15 mb-4">Rentech se encarga de facilitar la creación de empresas minimizando su inversión,
          también ayudamos a empresas ya creadas que estén constantemente actualizadas con las ultimas tecnologías..</p>
        <p class="text-muted mb-2">
          <i-feather class="icon-xs mr-1" name="layout"></i-feather> Empleados totalmente capacitados en la resolución de averías.
        </p>
        <p class="text-muted">
          <i-feather class="icon-xs mr-1" name="life-buoy"></i-feather>Transparencia con nuestros clientes.
        </p>
        <!-- <div class="mt-5">
          <a href="javascript: void(0);" class="btn btn-primary mr-2">Leer mas</a>
          <a href="javascript: void(0);" class="btn btn-soft-primary">Buy Now</a>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section class="section feather-bg-img" style="background-image: url(assets/images/features-bg-img-1.png)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> Futuros proyectos</p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">Nuestro grupo de <b>desarrolladores</b> no descansa.</h3>
        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
        <p class="text-muted font-size-15 mb-4">Rentech prepara una futura expansión añadiendo una amplía gama de productos tecnológicos como, impresoras, móviles, patinetes eléctricos, smartwach...
          También añadiremos la opción de alquiler a particulares añadiendo varios artículos en un pack. Esto nos ayudará a crecer mas rápido y diversificar nuestro negocio.</p>
        <p class="text-muted mb-2">
          <i-feather class="icon-xs mr-1" name="server"></i-feather> Grupo de desarrolladores especializados.
        </p>
        <p class="text-muted">
          <i-feather class="icon-xs mr-1" name="rss"></i-feather> Fiabilidad en nuestros productos.
        </p>
        <!-- <div class="mt-5">
          <a href="javascript: void(0);" class="btn btn-primary mr-2">Read More</a>
          <a href="javascript: void(0);" class="btn btn-soft-primary">Buy Now</a>
        </div> -->
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="mt-4 mt-lg-0">
          <img src="assets/images/features-img-1.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features End -->
