<!-- Contact Us Start -->
<section class="section bg-light" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">Contactarnos</h3>
          <p class="text-muted font-size-15">Aquí podrás ponerte en contacto con nosotros para mas información o resolver cualquier tipo de dudas.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="custom-form mb-5 mb-lg-0">
          <div id="message"></div>
          <form>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1254.247058348956!2d0.6608537426948209!3d41.609937206588285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e0bcc44cc6ef%3A0x7f282cbeb1a1f06f!2sCarrer%20Antoni%20Guix%20i%20Ribelles%2C%20Els%20Magraners%2C%20Lleida!5e0!3m2!1ses!2ses!4v1620054992795!5m2!1ses!2ses" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </form>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="contact-detail text-muted ml-lg-5">
          <p class="">
            <i-feather class="icon-xs icon mr-1" name="mail"></i-feather> : <span>rentech@gmail.com</span>
          </p>
          <p class="">
            <i-feather class="icon-xs icon mr-1" name="phone-call"></i-feather> : <span>(+34) 970 000 000</span>
          </p>
          <p class="">
            <i-feather class="icon-xs icon mr-1" name="map-pin"></i-feather> : <span>C/Antoni Guix Ribelles</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us End -->
