<app-header></app-header>


<div class="banner-style-one home-page-two fondo" id="banner">
  <!-- <span class="bubble-1"></span>
  <span class="bubble-2"></span>
  <span class="bubble-3"></span>
  <span class="bubble-4"></span>
  <span class="bubble-5"></span>
  <span class="bubble-6"></span> -->
  <div class="container">
    <div class='box'>
      <div class='box-form'>
        <div class='box-login'>
          <div class='fieldset-body' id='login_form'>
            <br>
            <br>
            <h1>Login</h1>
            <br>
            <p class='field'>
              <label for='user'>Correo</label>
              <input  class="form-control" type='text' id='user' name='user' title='Username' />
              <span id='valida' class='i i-warning'></span>
            </p>
            <p class='field'>
              <label for='pass'>Contraseña</label>
              <input class="form-control" type='password' id='pass' name='pass' title='Password' />
              <span id='valida' class='i i-close'></span>
            </p>
            <input type='submit' id='do_login' value='Iniciar session' />
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.banner-style-one -->



