<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Contacto</th>
      <th scope="col">Urgencia</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Seleccionar averia</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let listarAverias of this.averia; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{this.averia[i]['averia']}}</td>
      <td>{{this.averia[i]['Contacto']}}</td>
      <td>{{this.averia[i]['urgencia']}}</td>
      <td>{{this.averia[i]['Descripcion']}}</td>
      <td><button class="btn btn-primary">Seleccionar avería</button></td>
    </tr>
  </tbody>
</table>
