<header class="site-header header-one home-page-two">
    <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="logo-box clearfix">
                <a class="navbar-brand">
                    <img src="../../../assets/images/logo-1-2.png" width="10%" class="d-inline-block align-top" />
                </a>
                <button class="menu-toggler" data-target="#main-nav-bar">
          <span class="fa fa-bars"></span>
        </button>
            </div>
            <!-- /.logo-box -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="main-navigation" id="main-nav-bar">

            </div>
            <!-- /.navbar-collapse -->
            <div class="right-side-box">
                <a href="#" class="header-btn" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
            </div>
            <!-- /.right-side-box -->
        </div>
        <!-- /.container -->
    </nav>
</header>
<!-- /.site-header -->



<div class="banner-style-one home-page-two fondo" id="banner">
    <!-- <span class="bubble-1"></span>
  <span class="bubble-2"></span>
  <span class="bubble-3"></span>
  <span class="bubble-4"></span>
  <span class="bubble-5"></span>
  <span class="bubble-6"></span> -->
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class='box'>
            <div class='box-form'>
                <div class='box-login'>
                    <div class='fieldset-body container' id='login_form'>
                        <br>
                        <br>
                        <!-- <form>
              <div class="container">
                <div class="row form-group">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Nombre">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Apellidos">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Correo">
                  </div>

                  <div class="col">
                    <input type="text" class="form-control" placeholder="Telefono">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="DNI/CIF">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="IBAN">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Dirección">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Codigo postal">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Contraseña">
                  </div>
                </div>


                <div class="row form-group">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Confirmar contraseña">
                  </div>
                </div>

              </div>
              <input type='submit' id='do_login' value='Registrarme' />
            </form> -->

                        <form [formGroup]="registerForm" (ngSubmit)="register()">
                            <br>
                            <div class="form-group">
                                <input type="text" formControlName="nombre" maxlength="60" class="form-control" placeholder="Nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                                    <div *ngIf="f.nombre.errors.required">El campo de nombre es obligatorio</div>
                                    <div *ngIf="f.nombre.errors.maxlength"> El nombre es demasiado largo</div>
                                    <div *ngIf="f.nombre.errors.minlength"> El nombre es demasiado corto</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" formControlName="apellido" maxlength="60" class="form-control" placeholder="Apellido" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
                                <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                                    <div *ngIf="f.apellido.errors.required">El campo de Apellido es obligatorio</div>
                                    <div *ngIf="f.apellido.errors.maxlength"> El apellido es demasiado largo</div>
                                    <div *ngIf="f.apellido.errors.minlength"> El apellido es demasiado corto</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="password" formControlName="contrasena" maxlength="60" class="form-control" placeholder="Contraseña" [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }" />
                                <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
                                    <div *ngIf="f.contrasena.errors.required">El campo de Contraseña es obligatorio</div>
                                    <div *ngIf="f.contrasena.errors.maxlength"> La contraseña es demasiado larga</div>
                                    <div *ngIf="f.contrasena.errors.minlength"> La contraseña es demasiado corta</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="password" formControlName="confirm_password" maxlength="60" class="form-control" placeholder="Confirmar contraseña" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                                <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirm_password.errors.required">El campo de Confirmar Contraseña es obligatorio</div>
                                    <div *ngIf="f.confirm_password.errors.ConfirmedValidator">La Contraseña no es la misma</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" formControlName="correo" maxlength="60" class="form-control" placeholder="Correo" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" />
                                <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                                    <div *ngIf="f.correo.errors.required">El campo de Correo es obligatorio</div>
                                    <div *ngIf="f.correo.errors.email">Debe de ser un correo</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" formControlName="telefono" maxlength="60" class="form-control" placeholder="Telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
                                <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                                    <div *ngIf="f.telefono.errors.required">El campo de Telefono es obligatorio</div>
                                    <div *ngIf="f.telefono.errors.pattern">Deben ser 9 numeros</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" formControlName="iban" maxlength="60" class="form-control" placeholder="Numero Iban" [ngClass]="{ 'is-invalid': submitted && f.iban.errors }" />
                                <div *ngIf="submitted && f.iban.errors" class="invalid-feedback">
                                    <div *ngIf="f.iban.errors.required">El campo de Num.Iban es obligatorio</div>
                                    <div *ngIf="f.iban.errors.maxLength"> Revisa los caracteres introducidos, deben ser 24</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" formControlName="dni" maxlength="60" class="form-control" placeholder="DNI" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }" />
                                <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                                    <div *ngIf="f.dni.errors.required">El campo de DNI es obligatorio</div>
                                    <div *ngIf="f.dni.errors.pattern"> El dni debe tener 8 numeros y una letra</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" formControlName="cp" maxlength="60" class="form-control" placeholder="Codigo Postal" [ngClass]="{ 'is-invalid': submitted && f.cp.errors }" />
                                <div *ngIf="submitted && f.cp.errors" class="invalid-feedback">
                                    <div *ngIf="f.cp.errors.required">El campo de Codigo Postal es obligatorio</div>
                                    <div *ngIf="f.cp.errors.pattern">El codigo postal son 5 numeros</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" formControlName="direccio" maxlength="60" class="form-control"  placeholder="Direccion" [ngClass]="{ 'is-invalid': submitted && f.direccio.errors }" />
                                <div *ngIf="submitted && f.direccio.errors" class="invalid-feedback">
                                    <div *ngIf="f.direccio.errors.required">El campo de Direecion es obligatorio</div>
                                </div>
                            </div>

                            <br>
                            <div class="form-group">
                                <input type='submit' id='do_login' value='Registrar' />
                            </div>
                        </form>
                        <div>
                            <a routerLink="/home" class="btn btn-link">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner-style-one -->