<app-header></app-header>
  <section class="banner-style-one home-page-two" id="banner">
    <span class="bubble-1"></span>
    <span class="bubble-2"></span>
    <span class="bubble-3"></span>
    <span class="bubble-4"></span>
    <span class="bubble-5"></span>
    <span class="bubble-6"></span>
    <img src="../../../assets/images/banner-moc-1-2.png" class="banner-mock"  />
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-8">
          <div class="content-block">
            <h3>Renueva <br> con Rentech</h3>
            <p>Excepteur sint occaecat cupidatat non proident sunt in <br> culpa qui officia deserunt mollit lorem ipsum
              anim id est <br> laborum perspiciatis unde.</p>
            <div class="button-block">
              <a href="#" class="banner-btn" [routerLink]="['/login']" routerLinkActive="router-link-active">
                <i class="fa fa-sign-in"></i>
                <span>Log in</span>
              </a>
              <a href="#" class="banner-btn" [routerLink]="['/registro']" routerLinkActive="router-link-active">
                <i class="fa fa-plus"></i>
                <span>Registro</span>
              </a>
            </div><!-- /.button-block -->
          </div><!-- /.content-block -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.banner-style-one -->
  <section class="fun-fact-style-one">
    <div class="container">
      <h3 class="title-line">Los números hablan por si solos</h3><!-- /.title-line -->
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="single-funfact-one text-center">
            <h3 class="counter">4789</h3>
            <p>clientes</p>
          </div><!-- /.single-funfact-one -->
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="single-funfact-one text-center">
            <h3 class="counter">6400</h3>
            <p>productos disponibles</p>
          </div><!-- /.single-funfact-one -->
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="single-funfact-one text-center">
            <h3 class="counter">900</h3>
            <p>revisiones '5 stars'</p>
          </div><!-- /.single-funfact-one -->
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="single-funfact-one text-center">
            <h3 class="counter">266</h3>
            <p>Premios</p>
          </div><!-- /.single-funfact-one -->
        </div><!-- /.col-lg-3 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.fun-fact-style-one -->
  <section class="services-style-one" id="servicios">
    <div class="container">
      <div class="block-title text-center">
        <img src="../../../assets/images/round-circle-1-1.png" alt="Awesome Image" class="wow rotateIn"
          data-wow-duration="1000ms" />
        <h2>Herramientas efectivas <br> para empresas efectivas</h2>
      </div><!-- /.block-title -->
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="single-service-one">
            <div class="hover-block"></div><!-- /.hover-block -->
            <i class="opins-icon-smartphone-1"></i>
            <h3>Servicio tècnico <br> propio</h3>
            <p>There are many variations of passages of lorem ipsum but majority have suffered.</p>
            <div class="line-block"></div><!-- /.line-block -->
          </div><!-- /.single-service-one -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="single-service-one">
            <div class="hover-block"></div><!-- /.hover-block -->
            <i class="opins-icon-smartphone"></i>
            <h3>Pedidos y opciones <br> personalizables</h3>
            <p>There are many variations of passages of lorem ipsum but majority have suffered.</p>
            <div class="line-block"></div><!-- /.line-block -->
          </div><!-- /.single-service-one -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="single-service-one">
            <div class="hover-block"></div><!-- /.hover-block -->
            <i class="opins-icon-smartphone-2"></i>
            <h3>Seguridad y perfección <br> integrada</h3>
            <p>There are many variations of passages of lorem ipsum but majority have suffered.</p>
            <div class="line-block"></div><!-- /.line-block -->
          </div><!-- /.single-service-one -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.services-style-one -->
  <section class="feature-style-two" id="herramientas">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="image-block">
            <img src="../../../assets/images/moc-1-1.png" alt="Awesome Image" />
          </div><!-- /.image-block -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <div class="content-block">
            <div class="block-title ">
              <img src="../../../assets/images/round-circle-1-2.png" alt="Awesome Image" class="wow rotateIn"
                data-wow-duration="1000ms" />
              <h2>Toma control de tus productos <br> desde donde quieras</h2>
            </div><!-- /.block-title -->
            <p>Duis aute irure dolor in reprehenderit in voluptate <br> velit esse cillum dolore eu fugiat nulla
              pariatur.</p>
            <ul class="feature-lists">
              <li><i class="fa fa-check"></i> Refresing to get such a personal touch. </li>
              <li><i class="fa fa-check"></i> Duis aute irure dolor in reprehenderit in voluptate.</li>
              <li><i class="fa fa-check"></i> Velit esse cillum dolore eu fugiat nulla pariatur.</li>
            </ul><!-- /.feature-lists -->
            <a href="#" class="feature-btn">Más información</a>
          </div><!-- /.content-block -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.feature-style-two -->
  <section class="feature-style-one">
    <div class="container">
      <hr class="style-one" />
      <div class="row">
        <div class="col-lg-6">
          <div class="content-block">
            <div class="block-title ">
              <img src="../../../assets/images/round-circle-1-3.png" alt="Awesome Image" class="wow rotateIn"
                data-wow-duration="1000ms" />
              <h2>Herramientas y servicio técnico <br> al propio gusto.</h2>
            </div><!-- /.block-title -->
            <p>Duis aute irure dolor in reprehenderit in voluptate <br> velit esse cillum dolore eu fugiat nulla
              pariatur.</p>
            <ul class="feature-lists">
              <li><i class="fa fa-check"></i> Refresing to get such a personal touch. </li>
              <li><i class="fa fa-check"></i> Duis aute irure dolor in reprehenderit in voluptate.</li>
              <li><i class="fa fa-check"></i> Velit esse cillum dolore eu fugiat nulla pariatur.</li>
            </ul><!-- /.feature-lists -->
            <a href="#" class="feature-btn">Más información</a>
          </div><!-- /.content-block -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <div class="image-block">
            <img src="../../../assets/images/moc-1-2.png" alt="Awesome Image" />
          </div><!-- /.image-block -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.feature-style-one -->
  <section class="pricing-style-one" id="precios">
    <div class="container">
      <div class="block-title text-center">
        <img src="../../../assets/images/round-circle-1-4.png" alt="Awesome Image" class="wow rotateIn"
          data-wow-duration="1000ms" />
        <h2>Escoja el plan que <br> mejor se adapte a ti.</h2>
      </div><!-- /.block-title -->
      <!-- <ul class="nav nav-tabs tab-title" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#monthly" role="tab" data-toggle="tab">Monthly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#yearly" role="tab" data-toggle="tab">Yearly</a>
                </li>
            </ul> -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane show active  animated fadeInUp" id="monthly">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="single-pricing-one basic-pack">
                <div class="top-block">
                  <span class="price">20.00€</span>
                  <span class="pack-name">plan básico</span>
                  <div class="line"></div><!-- /.line -->
                </div><!-- /.top-block -->
                <ul class="feature-lists">
                  <li>Extra features</li>
                  <li>Lifetime free support</li>
                  <li>Upgrate options</li>
                  <li>Full access</li>
                </ul><!-- /.feature-lists -->
                <div class="bottom-block">
                  <a href="#" class="price-btn">Más información</a>
                </div><!-- /.bottom-block -->
              </div><!-- /.single-pricing-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="single-pricing-one pro-pack">
                <div class="top-block">
                  <span class="price ">30.00€</span>
                  <span class="pack-name">plan profesional</span>
                  <div class="line"></div><!-- /.line -->
                </div><!-- /.top-block -->
                <ul class="feature-lists">
                  <li>Extra features</li>
                  <li>Lifetime free support</li>
                  <li>Upgrate options</li>
                  <li>Full access</li>
                </ul><!-- /.feature-lists -->
                <div class="bottom-block">
                  <a href="#" class="price-btn">Más información</a>
                </div><!-- /.bottom-block -->
              </div><!-- /.single-pricing-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="single-pricing-one biz-pack">
                <div class="top-block">
                  <span class="price">40.00€</span>
                  <span class="pack-name">Plan empresarial</span>
                  <div class="line"></div><!-- /.line -->
                </div><!-- /.top-block -->
                <ul class="feature-lists">
                  <li>Extra features</li>
                  <li>Lifetime free support</li>
                  <li>Upgrate options</li>
                  <li>Full access</li>
                </ul><!-- /.feature-lists -->
                <div class="bottom-block">
                  <a href="#" class="price-btn">Más información</a>
                </div><!-- /.bottom-block -->
              </div><!-- /.single-pricing-one -->
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div><!-- /.tab-pane -->
        <div role="tabpanel" class="tab-pane animated fadeInUp" id="yearly">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="single-pricing-one basic-pack">
                <div class="top-block">
                  <span class="price">$20.00</span>
                  <span class="pack-name">basic pack</span>
                  <div class="line"></div><!-- /.line -->
                </div><!-- /.top-block -->
                <ul class="feature-lists">
                  <li>Extra features</li>
                  <li>Lifetime free support</li>
                  <li>Upgrate options</li>
                  <li>Full access</li>
                </ul><!-- /.feature-lists -->
                <div class="bottom-block">
                  <a href="#" class="price-btn">Purchase</a>
                  <span class="tag-line">No hidden charges!</span>
                </div><!-- /.bottom-block -->
              </div><!-- /.single-pricing-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="single-pricing-one pro-pack">
                <div class="top-block">
                  <span class="price ">$30.00</span>
                  <span class="pack-name">Professional pack</span>
                  <div class="line"></div><!-- /.line -->
                </div><!-- /.top-block -->
                <ul class="feature-lists">
                  <li>Extra features</li>
                  <li>Lifetime free support</li>
                  <li>Upgrate options</li>
                  <li>Full access</li>
                </ul><!-- /.feature-lists -->
                <div class="bottom-block">
                  <a href="#" class="price-btn">Purchase</a>
                  <span class="tag-line">No hidden charges!</span>
                </div><!-- /.bottom-block -->
              </div><!-- /.single-pricing-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="single-pricing-one biz-pack">
                <div class="top-block">
                  <span class="price">$40.00</span>
                  <span class="pack-name">Business pack</span>
                  <div class="line"></div><!-- /.line -->
                </div><!-- /.top-block -->
                <ul class="feature-lists">
                  <li>Extra features</li>
                  <li>Lifetime free support</li>
                  <li>Upgrate options</li>
                  <li>Full access</li>
                </ul><!-- /.feature-lists -->
                <div class="bottom-block">
                  <a href="#" class="price-btn">Purchase</a>
                  <span class="tag-line">No hidden charges!</span>
                </div><!-- /.bottom-block -->
              </div><!-- /.single-pricing-one -->
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div><!-- /.tab-pane -->
      </div><!-- /.tab-content -->
    </div><!-- /.container -->
  </section><!-- /.pricing-style-one -->
  <section class="brand-style-one">
    <div class="container">
      <div class="brand-carousel-one owl-theme owl-carousel">
        <div class="item">
          <img src="../../../assets/images/brand-1-1.png" alt="Awesome Image" />
        </div><!-- /.item -->
        <div class="item">
          <img src="../../../assets/images/brand-1-1.png" alt="Awesome Image" />
        </div><!-- /.item -->
        <div class="item">
          <img src="../../../assets/images/brand-1-1.png" alt="Awesome Image" />
        </div><!-- /.item -->
        <div class="item">
          <img src="../../../assets/images/brand-1-1.png" alt="Awesome Image" />
        </div><!-- /.item -->
        <div class="item">
          <img src="../../../assets/images/brand-1-1.png" alt="Awesome Image" />
        </div><!-- /.item -->
        <div class="item">
          <img src="../../../assets/images/brand-1-1.png" alt="Awesome Image" />
        </div><!-- /.item -->
        <div class="item">
          <img src="../../../assets/images/brand-1-1.png" alt="Awesome Image" />
        </div><!-- /.item -->
        <div class="item">
          <img src="../../../assets/images/brand-1-1.png" alt="Awesome Image" />
        </div><!-- /.item -->
        <div class="item">
          <img src="../../../assets/images/brand-1-1.png" alt="Awesome Image" />
        </div><!-- /.item -->
        <div class="item">
          <img src="../../../assets/images/brand-1-1.png" alt="Awesome Image" />
        </div><!-- /.item -->
      </div><!-- /.brand-carousel-one -->
      <hr class="style-one" />
    </div><!-- /.container -->
  </section><!-- /.brand-style-one -->



  <footer class="site-footer">
    <span class="bubble-1"></span>
    <span class="bubble-2"></span>
    <span class="bubble-3"></span>
    <span class="bubble-4"></span>
    <span class="bubble-5"></span>
    <span class="bubble-6"></span>
    <div class="container">
      <div class="inner-container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
            <div class="footer-widget">
              <img width="50%" src="../../../assets/images/logo-1-1.png" alt="Rentech" />
            </div><!-- /.footer-widget -->
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="footer-widget">
              <div class="widget-title">
                <h3>Donde estamos</h3>
              </div><!-- /.widget-title -->
              <ul class="contact-list">
                <li>123 456 789</li>
                <li>RenTech@gmail.com</li>
                <li>C/Antoni Guix Ribelles, Lleida<br>
              </ul><!-- /.contact-list -->
            </div><!-- /.footer-widget -->
          </div>

          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="footer-widget">
              <div class="widget-title">
                <h3>Siguenos en redes</h3>
              </div><!-- /.widget-title -->
              <div class="social-block">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div><!-- /.social-block -->
            </div><!-- /.footer-widget -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="bottom-footer text-center">
    <div class="container">
      <p>&copy; Copyright 2021 by Rentech S.L</p>
    </div><!-- /.container -->
  </div><!-- /.bottom-footer -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.bxslider.min.js"></script>
<script src="../js/waypoints.min.js"></script>
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/jquery.counterup.min.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script src="../js/wow.js"></script>
<script src="../js/theme.js"></script>
