<h3>{{'HISTORIAL-ALQUILER' | translate}}</h3>
<table class="table justify-content-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{'NOMBRE' | translate}}</th>
            <th scope="col">{{'FECHA-INICIO' | translate}}</th>
            <th scope="col">{{'FECHA-FINAL' | translate}}</th>
            <th scope="col">{{'MENSUALIDAD' | translate}}</th>
            <th scope="col">{{'CANTIDAD' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let listarpedidos of this.alquiler; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{this.alquiler[i]['nombre']}}</td>
            <td>{{this.alquiler[i]['fecha_inicio']}}</td>
            <td>{{this.alquiler[i]['fecha_fin']}}</td>
            <td>{{this.alquiler[i]['mensualidad']}}€/ mes</td>
            <td>{{this.alquiler[i]['cantidad']}}</td>
            <td></td>

        </tr>
    </tbody>
</table>

<h3>{{'HISTORIAL-COMPRAS' | translate}}</h3>
<table class="table justify-content-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{'NOMBRE' | translate}}</th>
            <th scope="col">{{'FECHA-ENTRADA' | translate}}</th>
            <th scope="col">{{'PRECIO' | translate}}</th>
            <th scope="col">{{'CANTIDAD' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let listarpedidos of this.compra; index as e">
            <th scope="row">{{e+1}}</th>
            <td>{{this.compra[e]['nombre']}}</td>
            <td>{{this.compra[e]['fecha_entrada']}}</td>

            <td>{{this.compra[e]['precio_final']/0.04}}€</td>
            <td>{{this.compra[e]['cantidad']}}</td>
            <td></td>

        </tr>
    </tbody>
</table>
