<div class="container">
    <form class="" [formGroup]="myForm" (ngSubmit)="enviaraveria()">
        <div class="form-group">
            <label for="">Nombre</label>
            <input class="form-control" [(ngModel)]="averia_nueva.nombre" formControlName="nombre" type="text" placeholder="Nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              <div *ngIf="f.nombre.errors.minLength">El nombre es demasiado corto</div>
              <div *ngIf="f.nombre.errors.maxLength">El nombre es demasiado largo</div>
              <div *ngIf="f.nombre.errors.required">Campo obligatorio</div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Descripcion</label>
            <textarea class="form-control" [(ngModel)]="averia_nueva.descripcion" formControlName="descripcion"  [ngClass]="{ 'is-invalid': submitted && f.contacto.errors }" placeholder="El ordenador no enciende // Va demasiado lento // Se a roto el teclado/pantalla" name="" id="" cols="40" rows="5"></textarea>
            <div *ngIf="submitted && f.contacto.errors" class="invalid-feedback">
              <div *ngIf="f.contacto.errors.minLength">El nombre es demasiado corto</div>
              <div *ngIf="f.contacto.errors.maxLength">El nombre es demasiado largo</div>
              <div *ngIf="f.contacto.errors.required">Campo obligatorio</div>
            </div>
          </div>
        <div class="form-group">
            <label for="">Contacto </label>
            <textarea class="form-control" [(ngModel)]="averia_nueva.contacto" formControlName="contacto" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" placeholder="ejemplo@correo.com" name="" id="" cols="40" rows="5"></textarea>
            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
              <div *ngIf="f.descripcion.errors.minLength">El nombre es demasiado corto</div>
              <div *ngIf="f.descripcion.errors.maxLength">El nombre es demasiado largo</div>
              <div *ngIf="f.descripcion.errors.required">Campo obligatorio</div>
            </div>
          </div>
        <div class="form-group">
            <label for="">Nivel de urgencia</label>
            <select class="form-select form-control" [(ngModel)]="averia_nueva.urgencia" formControlName="urgencia" aria-label="Default select example"  [ngClass]="{ 'is-invalid': submitted && f.urgencia.errors }">

  <option value="Leve" selected>Leve</option>
  <option value="Moderado">Moderado</option>
  <option value="Urgente">Urgente</option>
</select>
<div *ngIf="submitted && f.urgencia.errors" class="invalid-feedback">

  <div *ngIf="f.urgencia.errors.required">Campo obligatorio</div>
</div>
        </div>

        <button type="submit" class="btn btn-primary"><i-feather name="send"></i-feather>   Enviar averia
  </button>
    </form>
</div>
<br>
<br>
<br>
<br>
