<div class="container">


    <form [formGroup]="myForm" (ngSubmit)="enviaraveria()">

        <div class="form-group">
            <input class="form-control" [(ngModel)]="averia_nueva.nombre" formControlName="nombre" type="text" placeholder="Nombre evento" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                <div *ngIf="f.nombre.errors.maxLength"> {{'CAMPOLARGO' | translate}}</div>
                <div *ngIf="f.nombre.errors.minLength"> {{'CAMPOCORTO' | translate}}</div>
            </div>
        </div>


        <div class="form-group">
            <input type="date" class="form-control" [(ngModel)]="averia_nueva.fecha" formControlName="fecha" placeholder="Fecha">
        </div>


        <button type="submit" class="btn btn-primary">Añadir evento</button>
    </form>
</div>
<br>
<br>
<br>
<br>
