<table class="table justify-content-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{'NOMBRE' | translate}}</th>
      <th scope="col">{{'CONTACTO' | translate}}</th>
      <th scope="col">{{'URGENCIA' | translate}}</th>
      <th scope="col">{{'DESCRIPCION' | translate}}</th>
      <th scope="col">{{'SELECT-AVERIA' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let listarAverias of this.averia; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{this.averia[i]['averia']}}</td>
      <td>{{this.averia[i]['Contacto']}}</td>
      <td>{{this.averia[i]['urgencia']}}</td>
      <td>{{this.averia[i]['Descripcion']}}</td>
        <td>
          <form (ngSubmit)="seleccionar(this.averia[i]['idAveria'])">
            <button class="btn btn-primary" >{{'AVERIA-DONE' | translate}}</button>
          </form>
        </td>
    </tr>
  </tbody>
</table>
