<nav class="navbar navbar-expand-lg  navbar-custom sticky sticky-dark"
  id="navbar">
  <div class="container">
    <!-- LOGO -->
    <a class="navbar-brand logo" [routerLink]="['/']">
      <img src="assets/images/logo-dark.png" alt="" class="logo-dark" height="24" />
      <img src="assets/images/logo-light.png" alt="" class="logo-light" height="24" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <i class="mdi mdi-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
        <li class="nav-item">
          <a class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/AquilarProducto']" >Alquilar producto</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/VenderProducto']">Vender producto</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link">Envíar una avería</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-center">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" >Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2><p>Modificar usuario {{this.nombre}}</p></h2>
    </div>
  </div>
<form [formGroup]="registerFormModify" (ngSubmit)="onSubmit()">
          
        

  <div class="form-group">
    <div>
      <label>Nombre</label>
    </div>
    <input class="form-control" type="text"  value="{{this.nombre}}" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" ng-reflect-model="ee">
    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
      <div *ngIf="f.nombre.errors.required">El campo de nombre es obligatorio</div>
      <div *ngIf="f.nombre.errors.maxlength"> El nombre es demasiado largo</div>
      <div *ngIf="f.nombre.errors.minlength"> El nombre es demasiado corto</div>
    </div>
  </div>

  <div class="form-group">
    <div>
      <label>Apellido</label>
    </div>
    <input class="form-control" type="text"  value="{{this.apellido}}" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" ng-reflect-model="ee">
    <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
      <div *ngIf="f.apellido.errors.required">El campo de apellido es obligatorio</div>
      <div *ngIf="f.apellido.errors.maxlength"> El apellido es demasiado largo</div>
      <div *ngIf="f.apellido.errors.minlength"> El apellido es demasiado corto</div>
    </div>
  </div>

  <div class="form-group">
    <div>
      <label>Correo</label>
    </div>
    <input class="form-control" type="text"  value="{{this.correo}}" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" ng-reflect-model="ee">
    <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
      <div *ngIf="f.correo.errors.required">El campo de correo es obligatorio</div>
      <div *ngIf="f.correo.errors.email"> Tiene que ser un correo</div>
      
    </div>
  </div>

  <div class="form-group">
    <div>
      <label>Teléfono</label>
    </div>
    <input class="form-control" type="text"  value="{{this.telefono}}" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" ng-reflect-model="ee">
    <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
      <div *ngIf="f.telefono.errors.required">El campo de Telefono es obligatorio</div>
      <div *ngIf="f.telefono.errors.pattern">Deben ser 9 numeros</div>
    </div>
  </div>

  <div class="form-group">
    <div>
      <label>Nombre</label>
    </div>
    <input class="form-control" type="text"  value="{{this.nombre}}" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" ng-reflect-model="ee">
    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
      <div *ngIf="f.nombre.errors.required">El campo de nombre es obligatorio</div>
      <div *ngIf="f.nombre.errors.maxlength"> El nombre es demasiado largo</div>
      <div *ngIf="f.nombre.errors.minlength"> El nombre es demasiado corto</div>
    </div>
  </div>
  
  <div class="form-group">
    <div>
      <label>Nombre</label>
    </div>
    <input class="form-control" type="text"  value="{{this.nombre}}" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" ng-reflect-model="ee">
    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
      <div *ngIf="f.nombre.errors.required">El campo de nombre es obligatorio</div>
      <div *ngIf="f.nombre.errors.maxlength"> El nombre es demasiado largo</div>
      <div *ngIf="f.nombre.errors.minlength"> El nombre es demasiado corto</div>
    </div>
  </div>

 
          

</form>
</div>
<app-footer></app-footer>
