<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="enviar()">
        <p>Evento:</p>
        <select class="form-control" required [(ngModel)]="lista.idEvento" formControlName="idEvento"> <!-- <== changed -->
          <option selected value="0">Seleccionar...</option>
          <option *ngFor="let item of eventos ;index as i" [ngValue]="this.eventos[i][0]">{{this.eventos[i][1]}} - {{this.eventos[i][2]}}</option>
        </select>
        <!--
        <select [(ngModel)]="lista.idEvento" [formControl]="selectControl" class="form-control  mx-sm-3 mb-2" id="inlineFormCustomSelect">
      <option *ngFor="let item of eventos ;index as i" value="{{this.eventos[i][0]}}">{{this.eventos[i][1]}} - {{this.eventos[i][2]}}</option>
    </select> -->
        <br>

        <p>Nombre:</p>
        <input [(ngModel)]="lista.nombre" type="text" placeholder="Nombre" formControlName="nombre" class="form-control">
        <br>
        <p>Acompañantes:</p>
        <input [(ngModel)]="lista.acompanantes" type="text" placeholder="Acompañantes" formControlName="acompanantes" class="form-control">
        <br>
        <p>Tipo:</p>
        <input [(ngModel)]="lista.tipo" type="text" placeholder="Tipo (Pista/VIP)" formControlName="tipo" class="form-control">
        <br>
        <p>Botella:</p>
        <input [(ngModel)]="lista.botella" type="text" placeholder="Botella (Si/No)" formControlName="botella" class="form-control">
        <br>
        <p>Precio:</p>
        <input [(ngModel)]="lista.precio" type="number" placeholder="Precio" formControlName="precio" class="form-control">
        <br>
        <p>Telefono:</p>
        <input [(ngModel)]="lista.telefono" type="number" placeholder="Telefono" formControlName="telefono" class="form-control">
        <br>
        <button type="submit" class="btn btn-primary">Añadir lista</button>

    </form>


    <!-- <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acompañantes</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><input class="form-control" type="text"></td>
                <td><input class="form-control" type="number"></td>
                <td><input class="form-control" type="text"></td>
            </tr>
        </tbody>
    </table> -->

</div>
<br><br><br>
