<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" (window:scroll)="windowScroll()"
  id="navbar">
  <div class="container">
    <!-- LOGO -->
    <a class="navbar-brand logo" href="/">
      <img src="assets/images/logo-dark.png" alt="" class="logo-dark" height="24" />
      <img src="assets/images/logo-light.png" alt="" class="logo-light" height="24" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <i class="mdi mdi-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
        <li class="nav-item" [ngClass]="{'active':currentSection === 'home'}">
          <a [ngxScrollTo]="'#home'" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':currentSection === 'features'}">
          <a [ngxScrollTo]="'#features'" class="nav-link">Características</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':currentSection === 'pricing'}">
          <a [ngxScrollTo]="'#pricing'" class="nav-link" [ngxScrollToOffset]="5">Precios</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':currentSection === 'contact'}">
          <a [ngxScrollTo]="'#contact'" class="nav-link" [ngxScrollToOffset]="5">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-center">
        <li class="nav-item">
          <a class="nav-link" (click)="loginModal(content)">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="registerModal(registercontent)">Darme de alta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->
<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
  <!-- Hero Start -->
  <section class="hero-1-bg" style="background-image: url(assets/images/hero-1-bg-img.png)" id="home">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6">
          <h1 class="hero-1-title text-dark font-weight-bold ">Rentech</h1>
          <div class="w-75 mb-5 mb-lg-0">
            <p class="text-muted mb-5 pb-5 font-size-17">Bienvenido a la era de la tecnología y la innovación</p>
            <p class=""><span class="font-size-20 mr-2"><i-feather name="send"></i-feather></span>Permite escalar tu negocio con la última tecnología</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-10">
          <div class=" mt-5 mt-lg-0">
            <img src="assets/images/hero-1-img.png" alt="" class="img-fluid d-block mx-auto">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero End -->

  <app-services></app-services>
  <app-features></app-features>
  <app-pricing></app-pricing>
  <app-contact></app-contact>
  <app-footer></app-footer>

</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="text-center">
      <h3 class="title mb-4">Bienvenido a Rentech</h3>
      <h4 class="text-uppercase text-primary"><b>Iniciar sesión</b></h4>
    </div>
    <div class="login-form mt-4">
      <form [formGroup]="myForm" (ngSubmit)="login(content)">
        <div class="form-group">
          <input type="text" [(ngModel)]="usuario.correo" formControlName="correo" class="form-control"
            placeholder="Correo" />
        </div>

        <div class="">
          <div *ngIf="myForm.get('correo').hasError('required') && myForm.get('correo').touched"
            class='alert alert-danger'>
            Este campo es obligatorio
          </div>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="usuario.contrasena" formControlName="contrasena" class="form-control"
            placeholder="Contraseña" />
        </div>
        <div class="">
          <div *ngIf="myForm.get('contrasena').hasError('required') && myForm.get('contrasena').touched"
            class='alert alert-danger'>
            Este campo es obligatorio
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">
            Iniciar sesión
          </button>
        </div>
      </form>
      <p class="nav-link" (click)="loginTecnicoModal(loginContent)" >Soy técnico</p>
    </div>
  </div>
</ng-template>

<ng-template #registercontent let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="text-center">
      <h3 class="title mb-4">Bienvenido a Rentech</h3>
      <h4 class="text-uppercase text-primary"><b>Darme de alta</b></h4>
    </div>
    <div class="login-form mt-4">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
            <input type="text" formControlName="nombre" maxlength="60" class="form-control" placeholder="Nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">El campo de nombre es obligatorio</div>
                <div *ngIf="f.nombre.errors.maxlength"> El nombre es demasiado largo</div>
                <div *ngIf="f.nombre.errors.minlength"> El nombre es demasiado corto</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="apellido" maxlength="60" class="form-control" placeholder="Apellido" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
            <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                <div *ngIf="f.apellido.errors.required">El campo de Apellido es obligatorio</div>
                <div *ngIf="f.apellido.errors.maxlength"> El apellido es demasiado largo</div>
                <div *ngIf="f.apellido.errors.minlength"> El apellido es demasiado corto</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" formControlName="contrasena" maxlength="60" class="form-control" placeholder="Contraseña" [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }" />
            <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
                <div *ngIf="f.contrasena.errors.required">El campo de Contraseña es obligatorio</div>
                <div *ngIf="f.contrasena.errors.maxlength"> La contraseña es demasiado larga</div>
                <div *ngIf="f.contrasena.errors.minlength"> La contraseña es demasiado corta</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" formControlName="confirm_password" maxlength="60" class="form-control" placeholder="Confirmar contraseña" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
            <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                <div *ngIf="f.confirm_password.errors.required">El campo de Confirmar Contraseña es obligatorio</div>
                <div *ngIf="f.confirm_password.errors.ConfirmedValidator">La Contraseña no es la misma</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="correo" maxlength="60" class="form-control" placeholder="Correo" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" />
            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                <div *ngIf="f.correo.errors.required">El campo de Correo es obligatorio</div>
                <div *ngIf="f.correo.errors.email">Debe de ser un correo</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="telefono" maxlength="60" class="form-control" placeholder="Telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
            <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                <div *ngIf="f.telefono.errors.required">El campo de Telefono es obligatorio</div>
                <div *ngIf="f.telefono.errors.pattern">Deben ser 9 numeros</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="iban" maxlength="60" class="form-control" placeholder="Numero Iban" [ngClass]="{ 'is-invalid': submitted && f.iban.errors }" />
            <div *ngIf="submitted && f.iban.errors" class="invalid-feedback">
                <div *ngIf="f.iban.errors.required">El campo de Num.Iban es obligatorio</div>
                <div *ngIf="f.iban.errors.maxLength"> Revisa los caracteres introducidos, deben ser 24</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="dni" maxlength="60" class="form-control" placeholder="DNI" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }" />
            <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                <div *ngIf="f.dni.errors.required">El campo de DNI es obligatorio</div>
                <div *ngIf="f.dni.errors.pattern"> El dni debe tener 8 numeros y una letra</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="cp" maxlength="60" class="form-control" placeholder="Codigo Postal" [ngClass]="{ 'is-invalid': submitted && f.cp.errors }" />
            <div *ngIf="submitted && f.cp.errors" class="invalid-feedback">
                <div *ngIf="f.cp.errors.required">El campo de Codigo Postal es obligatorio</div>
                <div *ngIf="f.cp.errors.pattern">El codigo postal son 5 numeros</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="direccio" maxlength="60" class="form-control"  placeholder="Direccion" [ngClass]="{ 'is-invalid': submitted && f.direccio.errors }" />
            <div *ngIf="submitted && f.direccio.errors" class="invalid-feedback">
                <div *ngIf="f.direccio.errors.required">El campo de Dirección es obligatorio</div>
            </div>
        </div>

        <br>
        <div class="form-group">
            <input   type="submit" class="btn btn-primary" value='Registrar' />
        </div>
    </form>

    </div>
  </div>
</ng-template>

<ng-template #loginContent let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="text-center">
      <h3 class="title mb-4">Acceso para técnicos</h3>
      <h4 class="text-uppercase text-primary"><b>Iniciar sesión</b></h4>
    </div>
    <div class="login-form mt-4">
      <form [formGroup]="myForm" (ngSubmit)="login(loginContent)">
        <div class="form-group">
          <input type="text" [(ngModel)]="usuario.correo" formControlName="correo" class="form-control"
            placeholder="Correo" />
        </div>

        <div class="">
          <div *ngIf="myForm.get('correo').hasError('required') && myForm.get('correo').touched"
            class='alert alert-danger'>
            Este campo es obligatorio
          </div>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="usuario.contrasena" formControlName="contrasena" class="form-control"
            placeholder="Contraseña" />
        </div>
        <div class="">
          <div *ngIf="myForm.get('contrasena').hasError('required') && myForm.get('contrasena').touched"
            class='alert alert-danger'>
            Este campo es obligatorio
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">
            Iniciar sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

