<!--Navbar Start-->
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="8c922aa4-62f9-403b-a552-ecf51fa9e962" data-blockingmode="auto" type="text/javascript"></script>
<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" (window:scroll)="windowScroll()" id="navbar">
    <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand logo" href="/">
            <img src="assets/images/logo-dark.png" alt="" class="logo-dark" height="24" />
            <img src="assets/images/logo-light.png" alt="" class="logo-light" height="24" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <i class="mdi mdi-menu"></i>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                <li class="nav-item" [ngClass]="{'active':currentSection === 'home'}">
                    <a [ngxScrollTo]="'#home'" class="nav-link">{{'INICIO' | translate}}</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'features'}">
                    <a [ngxScrollTo]="'#features'" class="nav-link">{{'CARACTERISTICAS' | translate}}</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'pricing'}">
                    <a [ngxScrollTo]="'#pricing'" class="nav-link" [ngxScrollToOffset]="5">{{'PRECIOS' | translate}}</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'contact'}">
                    <a [ngxScrollTo]="'#contact'" class="nav-link" [ngxScrollToOffset]="5">{{'CONTACTO' | translate}}</a>
                </li>
            </ul>
            <ul *ngIf="this.logged === false" class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link" (click)="loginModal(content)">{{'LOGIN' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="registerModal(registercontent)">{{'SIGNIN' | translate}}</a>
                </li>
            </ul>
            <ul *ngIf="this.logged === true" class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/dashboard']">{{'DASHBOARD' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">{{'LOGOUT' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->
<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <!-- Hero Start -->
    <section class="hero-1-bg" style="background-image: url(assets/images/hero-1-bg-img.png)" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <h1 class="hero-1-title text-dark font-weight-bold ">Rentech</h1>
                    <div class="w-75 mb-5 mb-lg-0">
                        <p class="text-muted mb-5 pb-5 font-size-17">{{'WELCOME' | translate}}</p>
                        <p class=""><span class="font-size-20 mr-2"><i-feather name="send"></i-feather></span>{{'ESCALAR' | translate}}</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class=" mt-5 mt-lg-0">
                        <img src="assets/images/hero-1-img.png" alt="" class="img-fluid d-block mx-auto">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero End -->

    <app-services></app-services>
    <app-features></app-features>
    <app-pricing></app-pricing>
    <app-contact></app-contact>
    <app-footer></app-footer>

</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="text-center">
            <h3 class="title mb-4">{{'BIENBENIDO' | translate}}</h3>
            <h4 class="text-uppercase text-primary"><b>{{'LOGIN' | translate}}</b></h4>
        </div>
        <div class="login-form mt-4">
            <form [formGroup]="myForm" (ngSubmit)="login(content)">
                <div class="form-group">
                    <input type="text" [(ngModel)]="usuario.correo" formControlName="correo" class="form-control" placeholder="{{'CORREO' | translate}}" />
                </div>

                <div class="">
                    <div *ngIf="myForm.get('correo').hasError('required') && myForm.get('correo').touched" class='alert alert-danger'>
                        {{'CAMPOOBLIGATORIO' | translate}}
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="usuario.contrasena" formControlName="contrasena" class="form-control" placeholder="{{'CONTRASEÑA' | translate}}" />
                </div>
                <div class="">
                    <div *ngIf="myForm.get('contrasena').hasError('required') && myForm.get('contrasena').touched" class='alert alert-danger'>
                        {{'CAMPOOBLIGATORIO' | translate}}
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">
            {{'LOGIN' | translate}}
          </button>
                </div>
            </form>
            <p class="nav-link" (click)="loginTecnicoModal(loginContent)">{{'SOYTECH' | translate}}</p>
        </div>
    </div>
</ng-template>

<ng-template #registercontent let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="text-center">
            <h3 class="title mb-4">{{'BIENBENIDO' | translate}}</h3>
            <h4 class="text-uppercase text-primary"><b>{{'SIGNIN' | translate}}</b></h4>
        </div>
        <div class="login-form mt-4">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="form-group">
                    <input type="text" formControlName="nombre" maxlength="60" class="form-control" placeholder="{{'NOMBRE' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                        <div *ngIf="f.nombre.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                        <div *ngIf="f.nombre.errors.maxlength">{{'CAMPO' | translate}}{{'NOMBRE' | translate}} {{'TOO-LONG' | translate}}</div>
                        <div *ngIf="f.nombre.errors.minlength">{{'CAMPO' | translate}}{{'NOMBRE' | translate}} {{'TOO-SHORT' | translate}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="apellido" maxlength="60" class="form-control" placeholder="{{'APELLIDO' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
                    <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                        <div *ngIf="f.apellido.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                        <div *ngIf="f.apellido.errors.maxlength">{{'CAMPO' | translate}}{{'APELLIDO' | translate}}{{'TOO-LONG' | translate}}</div>
                        <div *ngIf="f.apellido.errors.minlength">{{'CAMPO' | translate}}{{'APELLIDO' | translate}}{{'TOO-SHORT' | translate}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="contrasena" maxlength="60" class="form-control" placeholder="{{'CONTRASEÑA' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }" />
                    <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
                        <div *ngIf="f.contrasena.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                        <div *ngIf="f.contrasena.errors.maxlength">{{'CAMPO' | translate}}{{'CONTRASEÑA' | translate}} {{'TOO-LONG' | translate}}</div>
                        <div *ngIf="f.contrasena.errors.minlength">{{'CAMPO' | translate}}{{'CONTRASEÑA' | translate}} {{'TOO-SHORT' | translate}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="confirm_password" maxlength="60" class="form-control" placeholder="{{'CONFIRMAR' | translate}} {{'CONTRASEÑA' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                    <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                        <div *ngIf="f.confirm_password.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                        <div *ngIf="f.confirm_password.errors.ConfirmedValidator">{{'PSSWD-MATCH' | translate}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="correo" maxlength="60" class="form-control" placeholder="{{'CORREO' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" />
                    <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                        <div *ngIf="f.correo.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                        <div *ngIf="f.correo.errors.email">{{'HAS-EMAIL' | translate}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="telefono" maxlength="60" class="form-control" placeholder="{{'TELEFONO' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
                    <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                        <div *ngIf="f.telefono.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                        <div *ngIf="f.telefono.errors.pattern">{{'CAMPO' | translate}}{{'TELEFONO' | translate}}{{'RESTRICCION-TELEFONO' | translate}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="iban" maxlength="60" class="form-control" placeholder="{{'IBAN-NUMERO' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.iban.errors }" />
                    <div *ngIf="submitted && f.iban.errors" class="invalid-feedback">
                        <div *ngIf="f.iban.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                        <div *ngIf="f.iban.errors.maxlength">{{'CAMPO' | translate}}{{'IBAN-NUMERO' | translate}}{{'TOO-LONG' | translate}}</div>
                        <div *ngIf="f.iban.errors.minlength">{{'CAMPO' | translate}}{{'IBAN-NUMERO' | translate}}{{'TOO-SHORT' | translate}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="dni" maxlength="60" class="form-control" placeholder="DNI" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }" />
                    <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                        <div *ngIf="f.dni.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                        <div *ngIf="f.dni.errors.pattern">{{'CAMPO' | translate}}DNI{{'RESTRICCION-DNI' | translate}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="cp" maxlength="60" class="form-control" placeholder="{{'CODIGO-POSTAL' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.cp.errors }" />
                    <div *ngIf="submitted && f.cp.errors" class="invalid-feedback">
                        <div *ngIf="f.cp.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                        <div *ngIf="f.cp.errors.pattern">{{'CAMPO' | translate}}{{'CODIGO-POSTAL' | translate}}{{'RESTRICCION-CODIGO' | translate}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="direccio" maxlength="60" class="form-control" placeholder="{{'DIRECCION' | translate}}" [ngClass]="{ 'is-invalid': submitted && f.direccio.errors }" />
                    <div *ngIf="submitted && f.direccio.errors" class="invalid-feedback">
                        <div *ngIf="f.direccio.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="{{'SIGNIN' | translate}}" />
                </div>
            </form>

        </div>
    </div>
</ng-template>

<ng-template #loginContent let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="text-center">
            <h3 class="title mb-4">{{'ACCESO-TECNICO' | translate}}</h3>
            <h4 class="text-uppercase text-primary"><b>{{'LOGIN' | translate}}</b></h4>
        </div>
        <div class="login-form mt-4">
            <form [formGroup]="myForm" (ngSubmit)="loginTecnico(loginContent)">
                <div class="form-group">
                    <input type="text" [(ngModel)]="usuario.correo" formControlName="correo" class="form-control" placeholder="Correo" />
                </div>

                <div class="">
                    <div *ngIf="myForm.get('correo').hasError('required') && myForm.get('correo').touched" class='alert alert-danger'>
                        {{'CAMPOOBLIGATORIO' | translate}}
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="usuario.contrasena" formControlName="contrasena" class="form-control" placeholder="Contraseña" />
                </div>
                <div class="">
                    <div *ngIf="myForm.get('contrasena').hasError('required') && myForm.get('contrasena').touched" class='alert alert-danger'>
                        {{'CAMPOOBLIGATORIO' | translate}}
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">
            {{'SOYTECH' | translate}}
          </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
