<nav class="navbar navbar-expand-lg  navbar-custom sticky sticky-dark" id="navbar">
    <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand logo" [routerLink]="['/']">
            <img src="assets/images/logo-dark.png" alt="" class="logo-dark" height="24" />
            <img src="assets/images/logo-light.png" alt="" class="logo-light" height="24" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <i class="mdi mdi-menu"></i>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/index']">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/dashboard']">{{'DASHBOARD' | translate}}</a>

                </li>

            </ul>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">{{'LOGOUT' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>
                <p>{{'MODIFICAR-USUARIO' | translate}}{{this.nombre}}</p>
            </h2>
        </div>
    </div>
    <form [formGroup]="registerFormModify" (ngSubmit)="onSubmit()">



        <div class="form-group">
            <div>
                <label>{{'NOMBRE' | translate}}</label>
            </div>

            <input class="form-control" type="text" placeholder="{{this.nombre}}" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">

            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                <div *ngIf="f.nombre.errors.maxlength">{{'CAMPO' | translate}}{{'NOMBRE' | translate}}{{'TOO-LONG' | translate}}</div>
                <div *ngIf="f.nombre.errors.minlength">{{'CAMPO' | translate}}{{'NOMBRE' | translate}}{{'TOO-SHORT' | translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label>{{'APELLIDO' | translate}}</label>
            </div>
            <input class="form-control" type="text" placeholder="{{this.apellido}}" formControlName="apellido" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }">
            <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                <div *ngIf="f.apellido.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                <div *ngIf="f.apellido.errors.maxlength">{{'CAMPO' | translate}}{{'APELLIDO' | translate}}{{'TOO-LONG' | translate}}</div>
                <div *ngIf="f.apellido.errors.minlength">{{'CAMPO' | translate}}{{'APELLIDO' | translate}}{{'TOO-SHORT' | translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label>{{'CORREO' | translate}}</label>
            </div>
            <input class="form-control" type="text" placeholder="{{this.correo}}" formControlName="correo" readonly [ngClass]="{ 'is-invalid': submitted && f.correo.errors }">
            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                <div *ngIf="f.correo.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                <div *ngIf="f.correo.errors.email">{{'HAS-EMAIL' | translate}}</div>

            </div>
        </div>

        <div class="form-group">
            <div>
                <label>{{'TELEFONO' | translate}}</label>
            </div>
            <input class="form-control" type="text" placeholder="{{this.telefono}}" formControlName="telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }">
            <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                <div *ngIf="f.telefono.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                <div *ngIf="f.telefono.errors.pattern">{{'CAMPO' | translate}}{{'TELEFONO' | translate}}{{'RESTRICCION-TELEFONO' | translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label>{{'IBAN-NUMERO' | translate}}</label>
            </div>
            <input class="form-control" type="text" placeholder="{{this.iban}}" formControlName="iban" [ngClass]="{ 'is-invalid': submitted && f.iban.errors }">
            <div *ngIf="submitted && f.iban.errors" class="invalid-feedback">
                <div *ngIf="f.iban.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                <div *ngIf="f.iban.errors.maxLength">{{'CAMPO' | translate}}{{'IBAN-NUMERO' | translate}}{{'RESTRICCION-NUM.IBAN' | translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label>DNI</label>
            </div>
            <input class="form-control" type="text" placeholder="{{this.dni}}" readonly formControlName="dni" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }">
            <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                <div *ngIf="f.dni.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
                <div *ngIf="f.dni.errors.pattern">{{'CAMPO' | translate}}DNI{{'RESTRICCION-DNI' | translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label>{{'SALARIO' | translate}}</label>
            </div>
            <input class="form-control" type="text" placeholder="{{this.salario}}" formControlName="salario" readonly [ngClass]="{ 'is-invalid': submitted && f.salario.errors }">
            <div *ngIf="submitted && f.salario.errors" class="invalid-feedback">
                <div *ngIf="f.salario.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label>{{'DIRECCION' | translate}}</label>
            </div>
            <input class="form-control" type="text" placeholder="{{this.direccio}}" formControlName="direccio" [ngClass]="{ 'is-invalid': submitted && f.direccio.errors }">
            <div *ngIf="submitted && f.direccio.errors" class="invalid-feedback">
                <div *ngIf="f.direccio.errors.required">{{'CAMPOOBLIGATORIO' | translate}}</div>
            </div>
        </div>










        <button type="submit" class="btn btn-primary">
    <i-feather name="user"></i-feather> {{'MODIFICAR' | translate}}
  </button>


    </form>

    <br>
</div>
<app-footer></app-footer>
