<!-- Footer Start -->
<section class="footer" style="background-image: url(assets/images/footer-bg.png)">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-5">
                    <img src="assets/images/logo-light.png" alt="" class="" height="24">
                    <p class="text-white-50 my-4 font-size-15">{{'FOOTER-MSG' | translate}}</p>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="text-white text-uppercase mb-4"></h6>
                    </div>
                    <div class="col-md-5">
                        <div class="contact-detail text-muted ml-lg-5">
                            <p class="">
                                <i-feather name="mail"></i-feather> <span>rentech@gmail.com</span>
                            </p>
                            <p class="">
                                <i-feather name="phone-call"></i-feather> <span>(+34) 970 000 000</span>
                            </p>
                            <p class="">
                                <i-feather name="map-pin"></i-feather> <span>C/Antoni Guix Ribelles</span>
                            </p>
                            <script id="CookieDeclaration" src="https://consent.cookiebot.com/8c922aa4-62f9-403b-a552-ecf51fa9e962/cd.js" type="text/javascript" async></script>
                            <p>
                                <label>
                  {{'CAMBIAR-IDIOMA' | translate}}
                  <select class="form-control" #langSelect (change)="changeLang(langSelect.value)">
                    <option *ngFor="let lang of langs" [value]="lang">
                      {{ lang }}
                    </option>
                  </select>
                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer-alt py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <p class="text-white-50 font-size-15 mb-0">{{year}} © rentech.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
