<div class="container">
    <select [formControl]="selectControl" (ngModelChange)="mySelectHandler($event)" class="form-control  mx-sm-3 mb-2" id="inlineFormCustomSelect">
    <option *ngFor="let item of eventos ;index as i" value="{{this.eventos[i][0]}}">
      {{this.eventos[i][1]}} </option>
  </select>

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acompañantes</th>
                <th scope="col">Tipo</th>
                <th scope="col">Botella</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of asistentes ;index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{this.asistentes[i]['nombre']}}</td>
                <td>{{this.asistentes[i]['acompanantes']}}</td>
                <td>{{this.asistentes[i]['tipo']}}</td>
                <td>{{this.asistentes[i]['botella']}}</td>
            </tr>
        </tbody>
    </table>
</div>